/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

.nav-bar {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #125688;
}

.navbar-logo {
  float: left;
  height: 50px;
  padding: 22px 15px;
  line-height: 20px;
  font-size: 36px;
  font-family: cursive;
}

.jeffrey {
  float: right;
  font-size: 24px;
  padding: 10px;
  text-decoration: underline;
}

.jeffrey:hover {
  color: red;
  cursor: hand;
  cursor: pointer;
}

.query-form {
  position: relative;
  top: -20px;
  background-color: #125688;
}

.form-inline {
  left: 75px;
}

.query-field {
  padding-top: 10px;
  padding-bottom: 15px;
}

.query-btn {
  top: 35px;
}

.page-button {
  position: relative;
  top: -20px;
  background-color: #125688;
  padding: 10px 0px 10px 0px;
}

.photo-index {
  position: relative;
  background-color: #125688;
  text-align: center;
  padding: 10px 0px 10px 0px;
  top: -20px;
}

.photo-item {
  max-width: 800px;
  background-color: white;
  border-bottom: 1px solid black;
  margin: 0 auto;
  word-wrap: break-word;
  padding: 10px 0px 10px 0px;
}

.photo-item:first-child {
  border-radius: 3px 3px 0 0;
}

.photo-item:last-child {
  border-radius: 0 0 3px 3px;
}
